/* css reset */
html, 
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    background: var(--dark-red);
    font-family: Unit-block, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color);
}

@font-face {
    font-family: Unit-block;
    src: url(./fonts/Unitblock-mLAwm.ttf);
}

:root {
    --big-font: 7rem;  
    --med-font: 4rem;
    --font-color: rgb(255, 255, 255);
    --border-radius: 25px;
    --dark-red: #511111;
}

.html-page {
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    width: 100vw;
    height: 100vh;  

}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gold;
}

.header > h1 {
    font-size: var(--big-font);
}

.body {
    background: linear-gradient(180deg, black, transparent);
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
}

#instructions {
    height: 100%;
    width: 100%;
    /* grid-area: 1/2; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--med-font);
}

.game-box {
    grid-row: 2/3;
    /* grid-column: 2/3; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 430px;
    width: 400px;
    justify-items: center;
    align-items: center;
    font-size: 5.5rem;
}

.game-square {
    border: 1px solid gold;
    transition: ease-in-out 0.2s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--font-color);
}

.game-square:hover {
    cursor: pointer;
    border: 2px solid white;
    transform: scale(0.9);
}

.cell-0,
.cell-1,
.cell-2 {
    border-top: none;
}

.cell-2,
.cell-5,
.cell-8 {
    border-right: none;
}

.cell-0,
.cell-3,
.cell-6 {
    border-left: none;
}

.cell-6,
.cell-7,
.cell-8 {
    border-bottom: none;
}


.restart-button-container{
    /* grid-area: 3/2; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-button {
    background: none;
    height: 80%;
    width: 270px;
    font-size: var(--med-font);
    border-radius:var(--border-radius);
    color: var(--font-color);
    transition: ease-in-out 0.15s;
}

.restart-button:hover {
    cursor: pointer;
    border: none;
    transform: translateY(5px);
    color: var(--dark-red);
    background: var(--font-color);
    box-shadow: black 5px 5px 20px 0px;
}

.restart-button:active {
    transform: scale(0.9);
}

.footer {
    display: flex;
}