/* css reset */
html, 
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    background: #511111;
    font-family: Unit-block, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color);
}

@font-face {
    font-family: Unit-block;
    src: url(./fonts/Unitblock-mLAwm.ttf);
}

:root {
    --big-font: 7rem;  
    --med-font: 4rem;
    --font-color: rgb(255, 255, 255);
    --border-radius: 25px;
}

.html-page {
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    width: 100vw;
    height: 100vh;  

}

div {
    /* border: 1px dotted gold; */
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gold;
}

.header > h1 {
    font-size: var(--big-font);
}

.body {
    background: linear-gradient(180deg, black, transparent);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
}

.game-box {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 50%;
}

.game-square {
    border: 1px solid gold;
    transition: ease-in-out 0.5s;
}

.game-square:hover {
    cursor: pointer;
    border: 1.5px solid white;
}

.square1,
.square2,
.square3 {
    border-top: none;
}

.square3,
.square6,
.square9 {
    border-right: none;
}

.square1,
.square4,
.square7 {
    border-left: none;
}

.square7,
.square8,
.square9 {
    border-bottom: none;
}

.button-container{
    grid-area: 3/2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-button {
    background: none;
    height: 80%;
    width: 35%;
    font-size: var(--med-font);
    border-radius:var(--border-radius);
    color: var(--font-color);
    transition: ease-in-out 0.2s;
}

.restart-button:hover {
    cursor: pointer;
    border: 2px solid black;
    /* transform: scale(1.1); */
    transform: translateY(5px);
    color: black;
    background: white;
}

.footer {
    display: flex;
}